###############################################################################
# liballocate - Kconfig
#
#
###############################################################################

config LIB_ALLOCATE
    bool "liballocate"
    depends on HAVE_LIB_SEL4 && HAVE_LIBC
    select HAVE_SEL4_LIBS
    default y
    help
        A library to manage untyped object allocation.


