###############################################################################
# Root Task - Kconfig
#
#
###############################################################################

menuconfig APP_ROOT_TASK
    bool "Root Task"
    default y
    depends on LIB_SEL4 && (LIB_MUSL_C || LIB_SEL4_C) && LIB_SEL4_SIMPLE && \
               LIB_SEL4_VKA && LIB_SEL4_ALLOCMAN && LIB_SEL4_PLAT_SUPPORT && \
               LIB_UTILS && LIB_SEL4_SIMPLE_DEFAULT && LIB_SEL4_DEBUG
    help
       Initial task to run. In charge of starting other processes and distributing capabilities.
