###############################################################################
# libprocess - Kconfig
#
#
###############################################################################

menuconfig LIB_PROCESS
    bool "libprocess"
    depends on HAVE_LIB_SEL4 && HAVE_LIBC
    select HAVE_SEL4_LIBS
    default y
    help
        A library to help manage starting, destroying, and configuring processes. 

config LIBPROCESS_MAX_STR_LEN
    int "Maximum string length"
    depends on LIB_PROCESS
    default 64
    help
        Max length for connection object names, device names, and process names

config LIB_PROCESS_DEFAULT_HEAP_SIZE_PAGES
    int "Default heap size pages"
    depends on LIB_PROCESS
    default 256
    help
        Default heap size for a child proc

config LIB_PROCESS_DEFAULT_STACK_SIZE_PAGES
    int "Default stack size pages"
    depends on LIB_PROCESS
    default 256
    help
        Default stack size for a child proc

config LIB_PROCESS_DEFAULT_PRIORITY
    int "Default priority"
    depends on LIB_PROCESS
    default 15
    help
        Default priority for a child proc

config LIB_PROCESS_DEFAULT_MAX_PRIORITY
    int "Default max priority"
    depends on LIB_PROCESS
    default 15
    help
        Default maximum controlled priority for a child proc

config LIB_PROCESS_DEFAULT_CPU_AFFINITY
    int "Default Core Affinity"
    depends on LIB_PROCESS
    default -1
    help
        Default core for a child proc, use -1 to inherit.

config LIB_PROCESS_DEFAULT_CNODE_SIZE_BITS
    int "Default cnode size bits"
    depends on LIB_PROCESS
    default 16
    help
        This number is how many capabilities can be stored in the child's root cnode.

config LIB_PROCESS_DEFAULT_GIVE_ASID_POOL
    int "Default bool deciding if an ASID pool cap is given"
    depends on LIB_PROCESS
    default 1
    help
        If you don't give an ASID pool cap to the child it cannot create valid address spaces.

config LIB_PROCESS_DEFAULT_CREATE_FAULT_EP
    int "Default determining whether a new fault endpoint is created"
    depends on LIB_PROCESS
    default 0
    help
        In debug mode this may be desirable to be false. The kernel will print a visible exception.

